<!DOCTYPE html>
<html>
<head>
  <title><%="Ruby Gardens :: #{ content_for(:title) } Page"%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>		
	<% get_link_for_pages.each do |el|%>
		<li><%= el  %></li>
	<% end %>
</ul>

<%= yield %>

</body>
</html>
